:root {
    --color-main: #bb93e2;
    --color-text: white;
    --color-link: black;
}

/* Font styles */ 
html {
    margin: 0;
    padding: 0;
} 

body {
    background-color: var(--color-main);
    font-family: Arial, sans-serif;
    font-weight: 100;
    line-height: 1.2;
    color: var(--color-text);
    font-size: 7vw;
    @media (min-width: 600px) {
        font-size: 3.5vw;
    }
}
small{
    font-size: 4.4vw;
    @media (min-width: 600px) {
        font-size: 2.2vw;
    }
}
section + section {
    padding-top: 10vw;
}
p {
    margin: 0;
    padding: 2vw 0;
}

a {
    color: var(--color-link);
    text-decoration: none;
    font-style: italic;
    font-size: 4.4vw;
    @media (min-width: 600px) {
        font-size: 2.2vw;
    }

}

h2 {
    margin: 0;
    padding: 5vw 0 1vw;
    font-weight: 700;
}


/* Design */ 
html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
    width: 100%;
}

.cover {
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: start;
    padding: 4vw;
    position: relative;
    background-color: darkolivegreen;
}
.cover::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(background.webp);
    background-size: cover;
    background-position: center center;
  }
  
.cover div {
    position: relative;
    text-align: right;
}
.cover .user {
    font-weight: 700;
    line-height: 1.2;
    font-size: 8vw;
    color: var(--color-text);
}
.cover .name {
    font-weight: 100;
    line-height: 1.2;
    font-size: 2.2vw;
    color: var(--color-text);
    margin-top: -1vw;
    margin-right: 5vw;
}

.content {
    padding: 5vw 1vw;
    margin: auto;
    box-sizing: border-box;
    overflow: auto;
    max-width: 90%;
}
.content a {
    padding: 2vw;
    display: inline-block;
}

.content img {
    border-radius: 50%;
}
